@{
    ViewData["Title"] = "Biblioteca";
}

<div class="text-center">
    <h1>Biblioteca</h1>
    <p>Sistema de cadastro de livros</p>
    <a asp-controller="Livros" asp-action="Lista" class="btn btn-primary">Ver Livros</a>
</div>